@model dynamic
@{
  
    Layout = "~/Views/Page.cshtml";
}
@section Title
{
    asdasdasd
}

  Пользовательское соглашение

<div data-role="fieldcontain">
    <fieldset data-role="controlgroup">
        <input type="checkbox" name="police" id="police" class="custom" />
        <label for="police">Я примаю условия  пользовательского соглашения</label>
    </fieldset>
</div>

<a data-role="button" href="#page?reg">
    Вернуться
</a>